{% if peopleList %}
<p>Записей найдено: {{ peopleList.length }}</p>
<div class="people_preview">
	<table class="table_people_preview">
		<thead>
			<tr>
				<th>№ карты</th>
				<th>Год</th>
				<th></th>
				<th>ФИО</th>
				<th>Пол</th>
				<th>Дата рождения</th>
				<th>Адрес</th>
				<th></th>
				<th></th>
				{% if formvals.prof_obraz %}<th>Профессия</th>{% endif %}
				{% if formvals.last_org %}<th>Последнее место работы</th>{% endif %}
				<!--th>Дата обработки</th-->
				<!--th>Дата корректировки</th-->
				<th></th>
			</tr>
		</thead>
		<tbody>
		{% for human in peopleList %}
		<tr>
			<td class="kartnum">{{ human['KART_N'] }}</td>
			<td class="kartyear">{{ human['IND_KART'] }}</td>
			<td class="kartrm">{{ human['KOD_RM'] }}</td>
			<td class="fio">{{ human['FIO'] }}</td>
			<td class="sex">{{ human['POL'] }}</td>
			<td class="borndate">{{ human['ROGD_DT'] }}</td>
			<td class="address">{{ human['ADRESS'] }}</td>
			<td class="status1">{% if human['STATUS_OB'] %} Безр. {% endif %}</td>
			<td class="status2">{% if human['SN_OB'] %} Сн./Уч. {% endif %} </td>
			{% if formvals.prof_obraz %}<td>{% if human['PROF_OBR'] %}{{ human['PROF_OBR']['NAIM'] }}{% endif %}</td>{% endif %}
			{% if formvals.last_org %}<td>{% if human['POSL_RAB'] %}{{ human['POSL_RAB']['NAIM'] }}{% endif %}</td>{% endif %}
			<!--td>{{ human['OBR_DT'] }}</td-->
			<!--td>{{ human['DATA_KOR']|date('d.m.Y') }}</td-->
			<td>
				<a class="button_link" href="./{{ human['KOD_RM'] }}/{{ human['IND_KART'] }}/{{ human['KART_N'] }}/{{ human['FIO'] }}/{{ human['OBR_DT'] }}">
					Просмотреть
				</a>
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endif %}
