<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/people.css">
	<script src="javascripts/jquery-2.1.0.js"></script>
	<title>{{ title|title }}</title>
	<script>
		$(document).ready(function(){
			
		});
	</script>
</head>
<body>
	<div class="title_page">
		{{ title|title }}
	</div>
	<a class="go_to_main" href="/">На главную</a>
	<div class="main_container">
		<form id="search_form" name="search_peaple" action="/search-peaple">
			<div class="form_table">
				<div class="form_field">
					ФИО <br />
					<input class="fio_field" type='search' name='fio' value="{{formvals.fio}}" placeholder="Фамилия Имя Отчество" />
				</div>
				<div class="form_field">
					Дата рождения <br />
					<input class="date_field" type='text' name='born_date' value="{{formvals.born_date}}" pattern="\d{2}\.\d{2}\.\d{4}" />
				</div>
				<div class="form_field">
					Проф. образование <br />
					<input class="text_field" type='text' name='prof_obraz' value="{{formvals.prof_obraz}}" />
				</div>
				<div class="form_field">
					Последнее место работы <br />
					<input class="text_field" type='text' name='last_org' value="{{formvals.last_org}}" />
				</div>
				<div class="form_field">
					Номер телефона <br />
					<input class="phone_field" type='tel' name='phone_num' value="{{formvals.phone_num}}" />
				</div>
				<div class="form_field">
					Период обработки
					<div>
						<input class="date_field" type='text' name='dobr_start' value="{{formvals.dobr_start}}" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="начало периода" /><br />
						<input class="date_field" type='text' name='dobr_end' value="{{formvals.dobr_end}}" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="конец периода" />
					</div>
				</div>
				<div class="form_field">
					Корректировка
					<div>
						<input class="date_field" type='text' name='dkor_start' value="{{formvals.dkor_start}}" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="начало периода" /><br />
						<input class="date_field" type='text' name='dkor_end' value="{{formvals.dkor_end}}" pattern="\d{2}\.\d{2}\.\d{4}" placeholder="конец периода" />
					</div>
				</div>
				<div class="form_buttons">
					<input type='reset' value="Очистить"/>
					<input type='submit' value="Найти" />
				</div>
			</div>
		</form>
		{% if peopleList %}
		<p>Записей найдено: {{ peopleList.length }}</p>
		<div class="preview_list">
			<table>
				<thead>
					<tr>
						<td>Код РМ</td>
						<td>Инд. карта</td>
						<td>№ карты</td>
						<td>ФИО</td>
						<td>Пол</td>
						<td>Дата рождения</td>
						{% if formvals.prof_obraz %}<td>Профессия</td>{% endif %}
						{% if formvals.last_org %}<td>Последнее место работы</td>{% endif %}
						<td>Дата обработки</td>
						<td>Дата корректировки</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
				{% for human in peopleList %}
				<tr>
					<td>{{ human['KOD_RM'] }}</td>
					<td>{{ human['IND_KART'] }}</td>
					<td>{{ human['KART_N'] }}</td>
					<td>{{ human['FIO'] }}</td>
					<td>{{ human['POL'] }}</td>
					<td>{{ human['ROGD_DT'] }}</td>
					{% if formvals.prof_obraz %}<td>{% if human['PROF_OBR'] %}{{ human['PROF_OBR']['NAIM'] }}{% endif %}</td>{% endif %}
					{% if formvals.last_org %}<td>{% if human['POSL_RAB'] %}{{ human['POSL_RAB']['NAIM'] }}{% endif %}</td>{% endif %}
					<td>{{ human['OBR_DT'] }}</td>
					<td>{{ human['DATA_KOR']|date('d.m.Y') }}</td>
					<td>
						<a class="button_link" href="./{{ human['KOD_RM'] }}/{{ human['IND_KART'] }}/{{ human['KART_N'] }}/{{ human['FIO'] }}/{{ human['OBR_DT'] }}">
							Просмотреть
						</a>
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
		{% endif %}
	</div>
</body>
</html>
