<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/vakansii.css">
	<script src="javascripts/jquery-2.1.0.js"></script>
	<title>{{ title|title }}</title>
</head>
<body>
	<div class="title_page">
		{{ title|title }} 
	</div>
	<menu class="menu">
		<a class="go_to_main" href="/">На главную</a><br>
		<a class="button_link" href="/vakansii/view">
			Просмотреть все вакансии на сегодня
		</a>
		<a class="button_link" href="/vakansii/search">
			Поиск вакансий среди текущих
		</a>
	</menu>
	<div class="main_container">
		
	</div>
</body>
</html>
