{% extends '../base.html' %}
{%block head_style%}
{%parent%}
<link rel="stylesheet" href="/stylesheets/admin.css">
{%endblock%}
{%block body_middle%}
<div class="side_panel">
    <a class="go_to_main" href="/">На главную</a>
    <a class="button_link" href="/user/auth/user/view_list/">Пользователи</a>
    <a class="button_link" href="/user/auth/group/view_list/">Группы</a>
    <a class="button_link" href="/user/auth/permissions/view_list/">Привилегии</a>
</div>
<div class="content">
    Добро пожаловать в панель администратора!
</div>
{%endblock%}
