{% extends '../base.html' %}
{%block head_style%}
{%parent%}
<link rel="stylesheet" href="/stylesheets/admin.css">
{%endblock%}
{%block body_middle%}
<div class="side_panel">
    <a class="go_to_main" href="/">На главную</a>
    {% for linkItem in menu_links %}
    <div class="menu_item">
        <a class="button_link" href="{{linkItem.url}}">
            {{linkItem.title}}
        </a>
        {% if linkItem.can_add %}
        <a class="button_add" href="{{linkItem.url}}/add/">Add</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="content">
    {% if users %}
    {% include 'user_view_inner.html' %}
    {%endif%}
    
</div>
{%endblock%}
