{% extends '../base.html' %}
{%block head_style%}
{%parent%}
<link rel="stylesheet" href="/stylesheets/admin.css">
{%endblock%}
{%block body_middle%}
    <menu class="menu">
        <a class="go_to_main" href="/">На главную</a>
    </menu>
    <div class="main_container">
        <div class="side_panel">
            <div class="menu_item">
                <a class="button_link" href="/admin/db/update/all">
                    Обновить всю базу данных
                </a>
            </div>
            <div class="menu_item">
                <a class="button_link" href="/admin/db/update/person-cards">
                    Обновить карточки на людей
                </a>
            </div>
            <div class="menu_item">
                <a class="button_link" href="/admin/auth/">
                    Пользователи и группы
                </a>
            </div>
        </div>
        {% if err %}
        <div style="background:#FFF3A5; padding:2em; width:300px;">{{err}}</div>
        {% endif %}
        {% if result %}
        <div  style="background:#CFFFAA; padding:2em; width:300px;">
            Времени прошло: {{timeleft}} <br /><br />
            Результат:
            <ul>
            {% for item in result %}
            <li>{{ item }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>
{%endblock%}