<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery-2.1.0.js"></script>
	<title>{{ title|title }}</title>
	<script>
		$(document).ready(function(){
			
		});
	</script>
</head>
<body>
	<div class="title_page">
		{{ title|title }}
	</div>
	<div class="main_container">
		<p>Авторизуйтесь пожалуйста</p>
		<form id="login_form" method="post">
			<div style="width:300px;">
				<div>
					<input class="text_field" type='text' name='login' placeholder="логин" /><br />
					<input class="text_field" type='text' name='password' placeholder="пароль" /><br />
				</div>
				<div class="form_buttons">
					<input type='reset' value="Очистить"/>
					<input type='submit' value="Войти" />
				</div>
			</div>
		</form>	
	</div>
</body>
</html>
