<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/jquery.js"></script>
	<title>{{ title|title }}</title>
	<script>
		$(document).ready(function(){
			
		});
	</script>
</head>
<body>
	<div class="title_page">
		{{ title|title }}
	</div>
	<div class="main_container">
		<p>Авторизуйтесь пожалуйста</p>
		<form id="login_form" method="post">
			<div style="width:300px;border: 2px solid rgba(26, 162, 238, 0.47);background: rgba(28, 148, 243, 0.27);">
				<div style="text-align:left; margin:5px;">
					<input class="text_field" type="text" name="login" placeholder="логин" style="width: 90%; padding: 5px; border: 2px solid rgba(45, 155, 228, 0.49);"><br>
					<input class="text_field" type="text" name="password" placeholder="пароль" style="width: 90%; padding: 5px; border: 2px solid rgba(45, 155, 228, 0.49);"><br>
				</div>
				<div class="form_buttons" style="text-align: right; margin: 5px;">
					<input type="reset" value="Очистить" style="border: 1px solid #3FBAFF; background: rgb(0, 152, 211); color: #FFF; font-weight: bold; width: 90px; padding: 5px;">
					<input type="submit" value="Войти" style="border: 1px solid #00A3FF; background: #0098D3; color: white; font-weight: bold;width: 90px;padding: 5px;">
				</div>
			</div>
		</form>	
	</div>
</body>
</html>
