.table_people_preview {
	border-collapse: collapse;
}
.table_people_preview thead th {
    background:#000;
    color:#FFF;
    padding:3px 5px;
}
.table_people_preview tbody tr:nth-of-type(odd) {
    background: #DADADA;
}
td.kartnum {
	text-align:right;
}
td.kartyear {
	text-align:center;
}
td.kartrm {
	text-align:center;
    border-right:solid 1px #ccc;
    padding-right:0.5em;
}
td.sex {
    text-align:center;
}
td.fio {
	padding:0px 0.5em;
}
td.borndate {
	text-align:center;
}
td.address {
	text-align:left;
}
td.status1 {
	color:#3A8D3C;
}
td.status2 {
	color:#A52A2A;
}

@media print {
	th {
		background:#EEE;
		color:#000;
	}
	td {
		background:#FFF;
		color:#000;
		border-bottom:solid 1px #CCC;
	}
}
