html {
	padding:0px	;
	margin:0px;
    display: block;
    position: relative;
    height: 100%;
}
body {
  padding: 0px;
  margin:0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: block;
  position: relative;
  height: 100%;
}

a {
    color: #00B7FF;
}

.background {
    min-height: 100%;
    display: block;
    position: relative;
    background: #FAFAFA;
}
.middle {
    background: #FEFEFE;
}
.footer {
    min-height: 100px;
    background: #222;
}

.title_page, .top {
	background:#EEE;
	color:#393;
	font-size:18pt;
	margin:0px;
	padding:0.02in;
}
.title_page>span {
	font-size:small;
	color:#4141DA;
}

.main_container {
	padding:0px 1em;
	margin:0px;
}

.menu {
	display:inline-block;
	background:transparent;
	margin:0;
	padding:0;
	/*width: 20em;*/
}

.button_link, .go_to_main{
	background:#3F57E7;
	color:#FFF;
	padding:5px 10px;
	margin:5px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
}
.button_link:hover, .go_to_main:hover {
    background: #08349f
}

thead td {
	background:#EEE;
}



input {
	width:130px;
	border-radius:0px;
	border:solid 1px #CCC;
	padding: 1px 1px;
	margin: 1px;
}

input[type='text'] {
	width:100%;
}
input[type='radio'] {
	width:15px;
}
.form_table {
	margin:10px auto;
	display:inline-block;
}
.form_field {
	display:inline-block;
	vertical-align:top;
	margin:1px;
}
.form_field>div {
	margin:0;
	padding:0;
}

.form_buttons {
	text-align:right;
}

.text_long_field {
	min-width:15em;
}

.date_field {
}
.text_field {
}
.phone_field {
}
.date_field {
}

@media print {
	th {
		background:#EEE;
		color:#000;
	}
	td {
		background:#FFF;
		color:#000;
	}
	.button_link, .go_to_main {
		display:none;
	}
}
@page {
	margin: 15px;
}
